@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-blue: #4d6188;
  --color-blue-back: #4d6188b0;
  --color-blue-hover: #6f84ae;
  --color-brown: #b4602d;
  --color-beige: #d28d48;
  --color-offWhite: #ededf5;
  --color-white: #ffffff;
  --color-black: #000;
  --filter-shadow: 0 0 10px 4px rgba(179, 179, 179, 0.5);
  --card-shadow: 0 0 30px 2px gray;
  --margin-top: 6rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--color-offWhite);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
